<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select your choice</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body >
   
    <div id ="afterlogin">
       {{#if message}}
      <h4 class="alert aler-danger mt-4 "> {{message}} </h4>
     {{/if}}
       <b> Thanks for log in </b>
       <div><b>select your field for calculating  Api score</b></div> 
     <nav id="nav"> 
         <ul>
           <a href="/forUniversity"> <b>for University </b>  </a> </li>
          <br> <a href="/forCollege"> <b> for College </b></a></li>
        </ul>
     </nav>
    </div>

</body>
</html>