<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="discription" content=" ugc API calculator">
    <meta name="keyword" content="Academic progression index calculator,API,API score,API Calculator">
    <meta name="robots" content="index,follow">
    <title>API </title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <header>
        <h1 id="h">API (Academic Performance Indicator) Calculator</h1>
        <nav class="nav">
            <ul class="list">
                <li><a href="/"class="ht">Home</a></li>
                <li><a href="https://www.ugc.ac.in/pdfnews/8377302_English.pdf" target="new tab" class="ht">Broad Info
                        about API</a></li>
                <li><a href="/Aboutus" class="ht">About Us</a></li>
                <li><a href="/contactus" class="ht"> Contact us </a></li>
                <li><a href="/login"> login </a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>

            <div class="paragraph" id="p1">
                <h1>
                    What is API?
                </h1>
                <p> <i> <b> API is the common abbreviation for academic performance indicators.</b>
                        The measure that gives away the growth of a student, teacher or an institution. This was
                        introduced by the UGC in 2010</i>
                    The University Grants Commission has a way of assessing the academicians by way of Academic
                    Performance Indicators.</p>
            </div>
        </section>

        <section>
            <div class="paragraph" id="p2">
                <h2>How API Helps?</h2>
                <p>This develops a score which gives us an idea about how many years of teaching experience does a
                    faculty have, how many books has she/he published, how many publications does the faculty have, how
                    many conferences has the faculty attended, etc.
                </p>
            </div>
        </section>

        <section>
            <nav class="att">
                <div id="man">
                    <h2 class="mnh"> Calculate Yours API score for Assistant Professor</h2>
                    <ul id="manl">
                        <li><a href="/login" target="new tab" class="lk">For University</li></a>
                        <li><a href="/login" target="new tab" class="lk">For College</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </main>
    <footer>
        <div id="foot">
            <ul class="ft">
                <i>Group id:CSEG66</i>
                <i>Batch:2019 to 2023</i>
            </ul>
        </div>
    </footer>
</body>
</html>